@blu: #0383c0;
.navbar {
  margin-bottom: 20px;
  background:transparent;
  border: 1px #ccc solid;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover,navbar-default a:hover{
  background:none;
  color:@blu !important;
  font-weight: bold;
}
.logo{
  padding: 5px;
  font-size: 35px;
  font-family: 'Orbitron', sans-serif;
}
.blu{
  color: @blu;
}
.glyphicon{
  padding: 1%;
}
.sub-text{
  color:#ccc;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0 0 45px;
}
header form{
  float:right;
  margin-top: 30px;
  background: @blu;
  padding:15px;
  color:#fff;
  border-radius:5px;
}
.glyphicon.glyphicon-shopping-cart {
    font-size: 35px;
    padding: 5px;
}
.glyphicon.glyphicon-log-in {
    font-size: 25px;
    padding: 5px;
}
.login{
  font-size:16px;
  font-weight: bold;
}
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
    .navbar-inner {
        background:transparent;
    }
